@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  color: #1F2937;
  line-height: 1.5;
  min-height: 100dvh;
  background: #FEFEFE;
  flex-direction: column;
  font-family: "Roboto", Arial, sans-serif;
}

a,
button {
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.hero,
.footer {
  font-size: 18px;
  color: #E5E7EB;
  background: #1F2937;
}

.hero .header,
.hero .content,
.main .info-container {
  padding: 16px;
  margin: 0 auto;
  max-width: 1100px;
}

.header .logo,
.content h1 {
  color: #F9FAF8;
}

.hero .header {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}

.header .logo {
  font-size: 24px;
  font-weight: 600;
}

.header .links {
  gap: 16px;
  display: flex;
}

.header a:hover {
  color: #2ee8e8;
}

.hero .content {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 64px;
}

.content .left {
  flex-grow: 1;
  flex-basis: 400px;
  margin-right: auto;
}

.content h1 {
  font-size: 48px;
  font-weight: 900;
}

.content p {
  width: 450px;
  margin-bottom: 8px;
}

.content button {
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 5px;
  background: #3882F6;
}

.content .right {
  flex-grow: 1;
  flex-basis: 400px;
}

.content .placeholder {
  padding: 117px;
  text-align: center;
  background: #b2b2b2;
}

.main {
  flex: 1;
}

.main h2 {
  margin: 32px 0;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.main .info-container {
  gap: 52px;
  display: flex;
  margin-bottom: 64px;
  justify-content: center;
  flex-wrap: wrap;
}

.info-container .info {
  gap: 8px;
  display: flex;
  max-width: 150px;
  text-align: center;
  flex-direction: column;
}

.info-container .image {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  align-self: center;
  border: 3px solid #5d5df5;
}

.main .quote {
  padding: 64px;
  background: #E5E7EB;
}

blockquote p {
  font-size: 36px;
  font-weight: 300;
}

blockquote,
.quote .cite {
  margin: 0 auto;
  max-width: 800px;
}

.cite p {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  margin-right: 20px;
}

.main .call-to-action {
  display: flex;
  padding: 25px 0;
  color: #F9FAF8;
  margin: 64px auto;
  max-width: 1000px;
  align-items: center;
  border-radius: 10px;
  background: #3882F6;
  justify-content: space-around;
}

.call-to-action h3 {
  font-size: 20px;
  font-weight: 700;
}

.call-to-action p {
  color: #E5E7EB;
}

.call-to-action button {
  padding: 8px 32px;
  border-radius: 5px;
  background: inherit;
  border: 1px solid #F9FAF8;
}

.footer {
  padding: 16px;
  text-align: center;
}