@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  color: #3D3D3D;
  line-height: 1.5;
  min-height: 100dvh;
  background: #FEFEFE;
  flex-direction: column;
  font-family: "Roboto", Arial, sans-serif;
}

a,
button {
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.hero,
.footer {
  font-size: 18px;
  color: #E5E7EB;
  background: #1F2937;
}

.hero .header,
.hero .content {
  padding: 16px;
  margin: 0 auto;
  max-width: 1100px;
}

.header .logo,
.content h1 {
  color: #F9FAF8;
}

.hero .header {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}

.header .logo {
  font-size: 24px;
  font-weight: 600;
}

.header .links {
  gap: 16px;
  display: flex;
}

.header a:hover {
  color: #2ee8e8;
}

.hero .content {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 64px;
}

.content .left {
  flex-grow: 1;
  flex-basis: 400px;
  margin-right: auto;
}

.content h1 {
  font-size: 48px;
  font-weight: 900;
}

.content p {
  width: 450px;
  margin-bottom: 8px;
}

.content button {
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 5px;
  background: #3882F6;
}

.content .right {
  flex-grow: 1;
  flex-basis: 400px;
}

.content .placeholder {
  padding: 117px;
  text-align: center;
  background: #b2b2b2;
}